@model test.Models.FileCabinet.FileModel

@Html.ActionLink("Back to group", "Files", new { groupId = Model.GroupId })

<br />
<br />

<div class="file">
    <h2>@Model.FileName</h2>

    <span class="info">Uploaded by <strong>@Model.UploaderName</strong> on @Model.ModifiedTime.ToString("M") at @Model.ModifiedTime.ToString("T")</span><br />
    <span>@Model.FileDescription</span>
    <br />
    @Html.ActionLink("Download", "DownloadFile", new { fileId = Model.FileId })
    @Html.ActionLink("Delete", "DeleteFile", new { fileId = Model.FileId })
    <br />
</div>