@model test.Models.FileCabinet.FileModel

<div class="file">
    <h2>@Model.FileName</h2>

    <span>Uploaded by @Model.UploaderName</span>
    <span>Uploaded at @Model.ModifiedTime.ToString()</span>
    <span>@Model.FileDescription</span>

    <br />

    @Html.ActionLink("Download", "DownloadFile", new { fileId = Model.FileId })
    @Html.ActionLink("Delete", "DeleteFile", new { fileId = Model.FileId })
    @Html.ActionLink("Back to group", "Files", new { groupId = Model.GroupId })

    <br />
</div>