@{
    ViewBag.Page = "File Cabinet";
    ViewBag.Title = ViewBag.Page + " - " + ViewBag.BandName;
}

@section featured 
{
    @Html.Partial("_BandHeaderPartial")
}

<section class="blarg">
    <h1 class="five">Groups</h1>

    <p class="message-success">@ViewBag.SuccessMessage</p>
    <p class="message-error">@ViewBag.ErrorMessage</p>

    <div ng-app="sortable" ng-controller="SortableController" ng-init="init('/FileCabinet/GetGroups/@ViewBag.BandId')">
        <input type="button" value="Sort" ng-click="sort('GroupName')"/>
        
        <ol class="messages">
            <li ng-repeat="group in data | orderBy : column : descending">
                <div class="post-content">
                    <a class="file-group" ng-href="/FileCabinet/{{ group.BandId}}/Files/{{ group.GroupId }}">{{ group.GroupName }}</a>
                </div>
                <a ng-href="/FileCabinet/DeleteGroup/{{ group.GroupId }}">Delete</a>
            </li>
        </ol>
    </div>
</section>

<section class="half">
    <h2>Create a New Group</h2>
    <p class="message-success">@ViewBag.OtherSuccessMessage</p>
    <p class="message-error">@ViewBag.OtherErrorMessage</p>

    <form action="/FileCabinet/@ViewBag.BandId/CreateGroup" method="post">
      <label for="groupName">Group name:</label>
      <input type="text" name="groupName" id="groupName" />
      <br />
      <input type="submit" value="Create group" />
    </form>
</section>

@section Scripts
{
    <script type="text/javascript" src="@Url.Content("/Scripts/angular.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/sortable.js")"></script>
}

