@{
    ViewBag.Title = "File Cabinet";
}

@section featured 
{
    @Html.Partial("_BandHeaderPartial")
}

<p class="message-success">@ViewBag.SuccessMessage</p>
<p class="message-error">@ViewBag.ErrorMessage</p>

<form action="/FileCabinet/CreateGroup?bandId=@ViewBag.BandId" method="post">
  <label for="groupName">Group name:</label>
  <input type="text" name="groupName" id="groupName" />
  <input type="submit" value="Create group" />
</form>

<h2>Groups</h2>

<div ng-app="sortable" ng-controller="SortableController" ng-init="init('/FileCabinet/GetGroups/@ViewBag.BandId')">
    <ol class="groups">
        <li ng-repeat="group in data | orderBy : column : descending">
                <td><a ng-href="/FileCabinet/{{ group.BandId}}/Files/{{ group.GroupId }}">{{ group.GroupName }}</a>
        </li>
    </ol>
</div>

@section Scripts
{
    <script type="text/javascript" src="@Url.Content("/Scripts/angular.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/sortable.js")"></script>
}

