@model IEnumerable<test.Models.FileCabinet.FileEntry>

@{
    ViewBag.Title = "Files";
}

<table class="pretty" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <th>@Html.DisplayNameFor(model => model.FileId)</th>
        <th>@Html.DisplayNameFor(model => model.FileName)</th>
        <th>@Html.DisplayNameFor(model => model.GroupId)</th>
        <th>@Html.DisplayNameFor(model => model.BandId)</th>
        <th>@Html.DisplayNameFor(model => model.UploaderId)</th>
        <th>Download</th>
        <th>Delete</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.FileId)</td>
            <td>@Html.DisplayFor(modelItem => item.FileName)</td>
            <td>@Html.DisplayFor(modelItem => item.GroupId)</td>
            <td>@Html.DisplayFor(modelItem => item.BandId)</td>
            <td>@Html.DisplayFor(modelItem => item.UploaderId)</td>
            <td>@Html.ActionLink("Download", "DownloadFile", new { fileId = item.FileId }, null)</td>
            <td>@Html.ActionLink("Delete", "DeleteFile", new { fileId = item.FileId }, null)</td>
        </tr>
    }

</table>