@model test.Models.FileCabinet.UploadFileModel

@{
    ViewBag.Title = "Upload File";
}

@if (Model != null)
{
    <p>File uploaded successfully..</p>
    <p>@ViewBag.Content</p>
    @Html.DisplayForModel();
}

@using (Html.BeginForm("UploadFile", "FileCabinet", new { bandId = ViewBag.BandId, groupId = ViewBag.GroupId }, FormMethod.Post, new { enctype = "multipart/form-data" } ))
{
    @Html.LabelFor(model => model.File)
    <input type="file" name="File" id="File" />

    @Html.LabelFor(model => model.FileDescription)
    @Html.EditorFor(model => model.FileDescription)
    <br />
    
    <input type="submit" value="Upload" />
}

