@model test.Models.FileCabinet.UploadFileModel

@{
    ViewBag.Title = "Upload File";
}

<p class="message-success">@ViewBag.SuccessMessage</p>
<p class="message-error">@ViewBag.ErrorMessage</p>

@using (Html.BeginForm("UploadFile", "FileCabinet", new { bandId = ViewBag.BandId, groupId = ViewBag.GroupId }, FormMethod.Post, new { enctype = "multipart/form-data" } ))
{
    @Html.LabelFor(model => model.File)
    <input type="file" name="File" id="File" />

    @Html.LabelFor(model => model.FileDescription)
    @Html.EditorFor(model => model.FileDescription)
    <br />
    
    <input type="submit" value="Upload" />
}

