<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@ViewBag.BandName.</h1>
            <h2>@ViewBag.Title.</h2>
        </hgroup>

        <ul class="horizontal">
            <li>@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>
            <li>@Html.ActionLink("Rolodex", "Index", "Rolodex")</li>
            <li>@Html.ActionLink("Calendar", "Index", "Calendar")</li>
            <li>@Html.ActionLink("FileCabinet", "Index", "FileCabinet")</li>
            <li>@Html.ActionLink("Budget", "Index", "Budget")</li>
            <li>@Html.ActionLink("Online", "Index", "Online")</li>
        </ul>

    </div>
</section>