@model IEnumerable<test.Models.BandModel>

@if(Model.Any())
{
    <hgroup class="title">
        <h1>Your Bands.</h1>
        <h2>You're dumb.</h2>
    </hgroup>
    
    @Html.ActionLink("Create a new band", "Register", "Band")
    @Html.ActionLink("Join an existing band", "Search", "Band")

    <table class="pretty" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <th>@Html.DisplayNameFor(model => model.BandName)</th>
            <th>@Html.DisplayNameFor(model => model.CreatorName)</th>
            <th>Leave</th>
        </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.ActionLink(item.BandName, "Index", "Dashboard", new { bandId = item.BandId }, null)</td>
            <td>@Html.DisplayFor(modelItem => item.CreatorName)</td>
            <td>@Html.ActionLink("Leave", "Leave", "Band", new { bandId = item.BandId }, null)</td>
        </tr>
    }

    </table>
}
else
{
    <hgroup class="title">
        <h1>You're not in any bands!</h1>
    </hgroup>
    
    <h3>Do something about it:</h3>
    <ol class="round">
        <li class="one">
            <h2>@Html.ActionLink("Join a band", "Search", "Band")</h2>
            Search for bands and join one.
        </li>

        <li class="two">
            <h2>@Html.ActionLink("Create a band", "Register", "Band")</h2>
            Start a new band and get your friends to join.
        </li>

        <li class="three">
            <h2>Leave</h2>
            And never come back.
        </li>
    </ol>
}

@if(Roles.IsUserInRole("Administrator"))
{
    <h3>@Html.ActionLink("Admin Page", "Index", "Admin")</h3>
}
