@model IEnumerable<test.Models.BandModel>

@if(Model.Any())
{
    <hgroup class="title">
        <h1>Your Bands.</h1>
        <h2>You're dumb.</h2>
    </hgroup>
    
    @Html.ActionLink("Create a new band", "Register", "Band")
    @Html.ActionLink("Join an existing band", "Search", "Band")

    <table class="pretty" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <th>@Html.DisplayNameFor(model => model.BandName)</th>
            <th>@Html.DisplayNameFor(model => model.CreatorName)</th>
            <th>Leave</th>
        </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.ActionLink(item.BandName, "Index", "Dashboard", new { bandId = item.BandId }, null)</td>
            <td>@Html.DisplayFor(modelItem => item.CreatorName)</td>
            <td>@Html.ActionLink("Leave", "Leave", "Band", new { bandId = item.BandId }, null)</td>
        </tr>
    }

    </table>
}
else
{
    <hgroup class="title">
        <h1>No bands found!</h1>
        <h2>Join or create a band to get started.</h2>
    </hgroup>
    
    <h2>@Html.ActionLink("Join an existing band", "Search", "Band")</h2>
    <h2>@Html.ActionLink("Create a new band", "Register", "Band")</h2>
}

@if(Roles.IsUserInRole("Administrator"))
{
    @Html.ActionLink("Admin", "Index", "Admin");
}
