@model IEnumerable<test.Models.BandDisplayModel>

<table class="pretty" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <th>@Html.DisplayNameFor(model => model.BandId)</th>
        <th>@Html.DisplayNameFor(model => model.BandName)</th>
        <th>@Html.DisplayNameFor(model => model.CreatorName)</th>
        <th>@Html.DisplayNameFor(model => model.Members)</th>
        <th>Update Test</th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <th>@Html.DisplayFor(modelItem => item.BandId)</th>
        <td>@Html.DisplayFor(modelItem => item.BandName)</td>
        <td>@Html.DisplayFor(modelItem => item.CreatorName)</td>
        <td>@Html.DisplayFor(modelItem => item.Members)</td>
        <td>@Html.ActionLink("Update", "Update", new {id = item.BandId})</td>
    </tr>
}
</table>