@model IEnumerable<test.Models.BandDisplayModel>

<table>
    <tr>
        <th>@Html.DisplayNameFor(model => model.BandName)</th>
        <th>@Html.DisplayNameFor(model => model.CreatorName)</th>
        <th>Members</th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>@Html.DisplayFor(modelItem => item.BandName)</td>
        <td>@Html.DisplayFor(modelItem => item.CreatorName)</td>
        <td>@Html.DisplayFor(modelItem => item.Members)</td>
    </tr>
}
</table>