@model IEnumerable<test.Models.BandModel>

<table class="pretty" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <th>@Html.DisplayNameFor(model => model.BandId)</th>
        <th>@Html.DisplayNameFor(model => model.BandName)</th>
        <th>@Html.DisplayNameFor(model => model.CreatorName)</th>
        <th>@Html.DisplayNameFor(model => model.Members)</th>
        <th>Join</th>
        <th>Manage</th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <th>@Html.DisplayFor(modelItem => item.BandId)</th>
        <td>@Html.ActionLink(Html.DisplayFor(modelItem => item.BandName).ToString(),
             "Index", "Dashboard", new { bandId = item.BandId }, null)</td>
        <td>@Html.DisplayFor(modelItem => item.CreatorName)</td>
        <td>@Html.DisplayFor(modelItem => item.Members)</td>
        <td>@Html.ActionLink("Join", "Join", new {bandId = item.BandId})</td>
        <td>@Html.ActionLink("Manage", "Manage", new {bandId = item.BandId})</td>
    </tr>
}

</table>