@model IEnumerable<test.Models.Rolodex.Contact>

<form method="post">
    <input type="text" name="searchString" />
    <ul>
        <li style="list-style:none; display:inline;">
            <input type="radio" name="type" value="band" /> Band
            <input type="radio" name="type" value="people" /> People
            <input type="radio" name="type" value="venue" /> Venue
        </li>
    </ul>
    <input type="submit" value="Search" />
</form>


<table>
    <tr>
        <th style="width:10%;">@Html.DisplayNameFor(m => m.ContactId)</th>
        <th style="width:10%;">@Html.DisplayNameFor(m => m.Name)</th>
        <th style="width:10%;">@Html.DisplayNameFor(m => m.Type)</th>
        <th style="width:10%;">@Html.DisplayNameFor(m => m.PhoneNumber)</th>
        <th style="width:10%;">@Html.DisplayNameFor(m => m.Email)</th>
    </tr>

    @foreach (test.Models.Rolodex.Contact contact in Model)
    {
        <tr>
            <td>@Html.DisplayFor(ModelItem => contact.ContactId)</td>
            <td>@Html.DisplayFor(ModelItem => contact.Name)</td>
            <td>@Html.DisplayFor(ModelItem => contact.Type)</td>
            <td>@Html.DisplayFor(ModelItem => contact.PhoneNumber)</td>
            <td>@Html.DisplayFor(ModelItem => contact.Email)</td>
        </tr>
    }
</table>