@model IEnumerable<test.Models.Rolodex.Contact>

<form method="post">
    
    <input type="text" name="searchString" />
    <ul>
        <li style="list-style-type:none; display:inline-block;">
            <label for="Search">Search by:</label>
        </li>
        <li style="list-style-type:none; display:inline-block;">
            <input type="radio" name="type" value="band" style="width:auto;" checked /> Band
        </li>
        <li style="list-style-type:none; display:inline-block;">
            <input type="radio" name="type" value="people" style="width:auto;" /> People
        </li>
        <li style="list-style-type:none; display:inline-block;">
            <input type="radio" name="type" value="venue" style="width:auto;" /> Venue
        </li>
    </ul>
    <input type="submit" value="Search" />
</form>

<label for="Contacts">Contacts:</label>

<br>

<table style="border:1px solid #C3C3C3;">
    @foreach (test.Models.Rolodex.Contact contact in Model)
    {
        <tr>
            <td style="width:10%;">@Html.DisplayFor(ModelItem => contact.ContactId)</td>
            <td style="width:10%;">@Html.DisplayFor(ModelItem => contact.Name)</td>
            <td style="width:10%;">@Html.DisplayFor(ModelItem => contact.Type)</td>
            <td style="width:10%;">@Html.DisplayFor(ModelItem => contact.PhoneNumber)</td>
            <td style="width:10%;">@Html.DisplayFor(ModelItem => contact.Email)</td>
            <td style="width:10%;">@Html.ActionLink("View/Edit", "EditContact", new {bandId = ViewBag.BandId, contactId = contact.ContactId, type = contact.Type})</td>
        </tr>
    }
</table>