@model IEnumerable<test.Models.Rolodex.Contact>

<form method="post">
    <ul style="margin:0; padding-left:0;">
        <li style="list-style-type:none; display:inline-block; padding-right:10px;">
            <label for="Search">Search by:</label>
        </li>
        <li style="list-style-type:none; display:inline-block; padding-right:10px;">
            <input type="radio" name="type" value="band" style="width:auto;" checked /> Band
        </li>
        <li style="list-style-type:none; display:inline-block; padding-right:10px;">
            <input type="radio" name="type" value="people" style="width:auto;" /> People
        </li>
        <li style="list-style-type:none; display:inline-block;">
            <input type="radio" name="type" value="venue" style="width:auto;" /> Venue
        </li>
    </ul>
    <input type="text" name="searchString" />
    <br>
    <input type="submit" value="Search" />
</form>

<br>

<label for="Contacts">Contacts:</label>


    @foreach (test.Models.Rolodex.Contact contact in Model)
    {
        <table style="background-color:white; width:100%">

            <tr style="width:100%;">
                @if (contact.Type == test.Models.Rolodex.ContactType.Venue)
                {
                    <td style="padding:15px; width:25%;"><img alt="" src="@Url.Action("DownloadVenueAvatar", new { contactId = contact.ContactId })" height="100" width="100" class="photo" /></td>
                    <td style="white-space:nowrap; text-align:center; font-weight:bold; width:75%;">@Html.DisplayFor(ModelItem => contact.Name)</td>
                }     
                @if (contact.Type == test.Models.Rolodex.ContactType.Band)
                {
                    <td style="padding:15px; width:25%;"><img alt="" src="@Url.Action("DownloadBandAvatar", new { contactId = contact.ContactId })" height="100" width="100" class="photo" /></td>
                    <td style="white-space:nowrap; text-align:center; font-weight:bold; width:75%;">@Html.DisplayFor(ModelItem => contact.Name)</td>
                }
                @if (contact.Type == test.Models.Rolodex.ContactType.People)
                {
                    <td style="padding:15px; width:25%;"><img alt="" src="@Url.Action("DownloadPeopleAvatar", new { contactId = contact.ContactId })" height="100" width="100" class="photo" /></td>
                    <td style="white-space:nowrap; text-align:center; font-weight:bold; width:75%;">@Html.DisplayFor(ModelItem => contact.Name)</td>
                }    
            </tr>
            <tr style="width:100%;">
                <td style="padding-left:35px; width:50%;">
                    @Html.ActionLink("View/Edit", "EditContact", new {bandId = ViewBag.BandId, contactId = contact.ContactId, type = contact.Type})
                </td>
                <td  style="width:50%;"/>

            </tr>
            <tr style="width:100%;">
                <td style=" padding-left:15px; width:50%;">@Html.DisplayFor(ModelItem => contact.Type)</td>
                <td style="width:50%;"/>
            </tr>
            <tr style="width:100%;">
                <td style="padding-left:15px; width:50%;">Phone number: @Html.DisplayFor(ModelItem => contact.PhoneNumber)</td>
                <td  style="width:50%;"/>
            </tr>
            <tr style="width:100%;">
                <td style="padding-left:15px; width:50%;">Email: @Html.DisplayFor(ModelItem => contact.Email)</td>
                <td  style="width:50%;"/>
            </tr>
        </table>
        <br>
    }
