@model IEnumerable<test.Models.Rolodex.Contact>

<form method="post">
    <ul style="margin:0; padding-left:0;">
        <li style="list-style-type:none; display:inline-block; padding-right:10px;">
            <label for="Search">Search by:</label>
        </li>
        <li style="list-style-type:none; display:inline-block; padding-right:10px;">
            <input type="radio" name="type" value="band" style="width:auto;" checked /> Band
        </li>
        <li style="list-style-type:none; display:inline-block; padding-right:10px;">
            <input type="radio" name="type" value="people" style="width:auto;" /> People
        </li>
        <li style="list-style-type:none; display:inline-block;">
            <input type="radio" name="type" value="venue" style="width:auto;" /> Venue
        </li>
    </ul>
    <input type="text" name="searchString" />
    <br>
    <input type="submit" value="Search" />
</form>

<br>

<label for="Contacts">Contacts:</label>


    @foreach (test.Models.Rolodex.Contact contact in Model)
    {
        <table class="contact">

            <tr>
                @if (contact.Type == test.Models.Rolodex.ContactType.Venue)
                {
                    <td style="padding:15px"><img alt="" src="@Url.Action("DownloadVenueAvatar", new { contactId = contact.ContactId })" height="100" width="100" class="photo" /></td>
                    <td style="white-space:nowrap; text-align:left; font-weight:bold;">@Html.DisplayFor(ModelItem => contact.Name)</td>
                }     
                @if (contact.Type == test.Models.Rolodex.ContactType.Band)
                {
                    <td style="padding:15px"><img alt="" src="@Url.Action("DownloadBandAvatar", new { contactId = contact.ContactId })" height="100" width="100" class="photo" /></td>
                    <td style="white-space:nowrap; text-align:left; font-weight:bold;">@Html.DisplayFor(ModelItem => contact.Name)</td>
                }
                @if (contact.Type == test.Models.Rolodex.ContactType.People)
                {
                    <td style="padding:15px"><img alt="" src="@Url.Action("DownloadPeopleAvatar", new { contactId = contact.ContactId })" height="100" width="100" class="photo" /></td>
                    <td style="white-space:nowrap; text-align:left; font-weight:bold;">@Html.DisplayFor(ModelItem => contact.Name)</td>
                }    
            </tr>
            <tr>
                <td style="width:100%; padding-left:15px;">@Html.DisplayFor(ModelItem => contact.Type)</td>
            </tr>
            <tr>
                <td style="width:100%; padding-left:15px;">Phone number: @Html.DisplayFor(ModelItem => contact.PhoneNumber)</td>
            </tr>
            <tr>
                <td style="width:100%; padding-left:15px;">Email: @Html.DisplayFor(ModelItem => contact.Email)</td>
            </tr>
            <tr>
                <td style="width:100%; padding-left:15px;">@Html.ActionLink("View/Edit", "EditContact", new {bandId = ViewBag.BandId, contactId = contact.ContactId, type = contact.Type})</td>
            </tr>
        </table>
        <br>
    }
