@model IEnumerable<test.Models.Rolodex.Contact>

<form method="post">
    <input type="text" name="searchString" />
    <ul style ="margin:0px 0; padding:0;">
    <li style="display:inline-block; list-style-type: none;"><input type="radio" name="type" value="band" style="vertical-align: middle" />Band</li>
    <li style="display:inline-block; list-style-type: none;"><input type="radio" name="type" value="people" style="vertical-align: middle"  />People</li>
    <li style="display:inline-block; list-style-type: none;"><input type="radio" name="type" value="venue" style="vertical-align: middle" />Venue</li>
    </ul>
    <input type="submit" value="Search" />
</form>


<table>
    <tr>
        <th style="width:10%;">@Html.DisplayNameFor(m => m.ContactId)</th>
        <th style="width:10%;">@Html.DisplayNameFor(m => m.Name)</th>
        <th style="width:10%;">@Html.DisplayNameFor(m => m.Type)</th>
        <th style="width:10%;">@Html.DisplayNameFor(m => m.PhoneNumber)</th>
        <th style="width:10%;">@Html.DisplayNameFor(m => m.Email)</th>
    </tr>

    @foreach (test.Models.Rolodex.Contact contact in Model)
    {
        <tr>
            <td>@Html.DisplayFor(ModelItem => contact.ContactId)</td>
            <td>@Html.DisplayFor(ModelItem => contact.Name)</td>
            <td>@Html.DisplayFor(ModelItem => contact.Type)</td>
            <td>@Html.DisplayFor(ModelItem => contact.PhoneNumber)</td>
            <td>@Html.DisplayFor(ModelItem => contact.Email)</td>
        </tr>
    }
</table>