@model IEnumerable<test.Models.Rolodex.Contact>

<form method="post">
    <input type="text" name="searchString" />
    <ul style="display:inline; padding:3px;">
        <li><input type="radio" name="type" value="band" />Band</li>
        <li><input type="radio" name="type" value="people" />People</li>
        <li><input type="radio" name="type" value="venue" />Venue</li>
    </ul>
    <br />
    <input type="submit" value="Search" />
</form>


<table>
    <tr>
        <th style="width:10%;">@Html.DisplayNameFor(m => m.ContactId)</th>
        <th style="width:10%;">@Html.DisplayNameFor(m => m.Name)</th>
        <th style="width:10%;">@Html.DisplayNameFor(m => m.Type)</th>
        <th style="width:10%;">@Html.DisplayNameFor(m => m.PhoneNumber)</th>
        <th style="width:10%;">@Html.DisplayNameFor(m => m.Email)</th>
    </tr>

    @foreach (test.Models.Rolodex.Contact contact in Model)
    {
        <tr>
            <td>@Html.DisplayFor(ModelItem => contact.ContactId)</td>
            <td>@Html.DisplayFor(ModelItem => contact.Name)</td>
            <td>@Html.DisplayFor(ModelItem => contact.Type)</td>
            <td>@Html.DisplayFor(ModelItem => contact.PhoneNumber)</td>
            <td>@Html.DisplayFor(ModelItem => contact.Email)</td>
        </tr>
    }
</table>