@model IEnumerable<test.Models.Budget.AccountReceivables>

@if (Model.Count() > 0)
{
<table>
    @foreach (test.Models.Budget.AccountReceivables accountPayable in Model)
    {
        <tr>
            <td>@Html.DisplayFor(ModelItem => accountPayable.Amount)</td>
            <td>@Html.DisplayFor(ModelItem => accountPayable.Date)</td>
            <td>@Html.DisplayFor(ModelItem => accountPayable.Category)</td>
            <td>@Html.DisplayFor(ModelItem => accountPayable.AssociatedBandContactId)</td>
            <td>@Html.DisplayFor(ModelItem => accountPayable.AssociatedPersonContactId)</td>
            <td>@Html.DisplayFor(ModelItem => accountPayable.AssociatedVenueContactId)</td>
            <td>@Html.DisplayFor(ModelItem => accountPayable.Paid)</td>
        </tr>
    }   
</table>
}