@model IEnumerable<test.Models.Budget.AccountPayables>

<script type="text/javascript" src="../../Scripts/jquery.tablesorter.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#AccountPayableTable").tablesorter();
    }
);

    $(function(){

        $(document).on("click","input.chks", function (e) {
            var _this=$(this);
            var isChecked = _this.is(':checked');
            $.post("@Url.Action("UpdateAccountPayable","Budget")?id="+_this.attr("id")+
                                          "&newValue="+isChecked,function(data){
                                              // do something with the response
                                          });

       });
    });
</script>

<style>
    td {
        padding: 5px;
    }
    th {
        padding: 5px;
    }
</style>

@if (Model != null)
{
<table id="AccountPayableTable" class="tablesorter">
    <thead>
        <tr>
            <th>Amount</th>
            <th>Date</th>
            <th>Category</th>
            <th>Band Contact</th>
            <th>Person Contact</th>
            <th>Venue Contact</th>
            <th>Paid</th>
        </tr>
    </thead>
    <tbody>
        @foreach (test.Models.Budget.AccountPayables accountPayable in Model)
        {
            <tr>
                <td>@Html.DisplayFor(ModelItem => accountPayable.Amount)</td>
                <td>@accountPayable.Date.ToShortDateString()</td>
                <td>@Html.DisplayFor(ModelItem => accountPayable.Category)</td>
                <td>@Html.DisplayFor(ModelItem => accountPayable.AssociatedBandContactId)</td>
                <td>@Html.DisplayFor(ModelItem => accountPayable.AssociatedPersonContactId)</td>
                <td>@Html.DisplayFor(ModelItem => accountPayable.AssociatedVenueContactId)</td>
                <td>@Html.CheckBoxFor(ModelItem => accountPayable.Paid, new { @id=accountPayable.AccountPayableId, @class="chks"})</td>
            </tr>
        }   
    </tbody>
</table>
}