@model IEnumerable<test.Models.Budget.AccountReceivables>

<script type="text/javascript" src="../../Scripts/jquery.tablesorter.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#AccountReceivableTable").tablesorter();
    }
);
</script>
@if (Model != null)
{
<table id="AccountReceivableTable" class="tablesorter" cellpadding="5">
    <thead>
        <tr>
            <th>Amount</th>
            <th>Date</th>
            <th>Category</th>
            <th>Band Contact</th>
            <th>Person Contact</th>
            <th>Venue Contact</th>
            <th>Paid</th>
        </tr>
    </thead>
    <tbody>
    @foreach (test.Models.Budget.AccountReceivables accountReceivable in Model)
    {
        <tr>
            <td>@Html.DisplayFor(ModelItem => accountReceivable.Amount)</td>
            <td>@String.Format("MM/dd/yyyy", accountReceivable.Date)</td>
            <td>@Html.DisplayFor(ModelItem => accountReceivable.Category)</td>
            <td>@Html.DisplayFor(ModelItem => accountReceivable.AssociatedBandContactId)</td>
            <td>@Html.DisplayFor(ModelItem => accountReceivable.AssociatedPersonContactId)</td>
            <td>@Html.DisplayFor(ModelItem => accountReceivable.AssociatedVenueContactId)</td>
            <td>@Html.DisplayFor(ModelItem => accountReceivable.Paid)</td>
        </tr>
    }   
    </tbody>
</table>
}