@model IEnumerable<test.Models.Budget.AccountPayables>

@if (Model != null)
{
<table>
        <tr>
            <td>@Html.ActionLink("Amount", "AccountsPayableList", new { bandId = ViewBag.BandId, filters = ViewBag.Filters, sort = "AMOUNT" })</td>
            <td>@Html.ActionLink("Date", "AccountsPayableList", new { bandId = ViewBag.BandId, filters = ViewBag.Filters, sort = "DATE" })</td>
            <td>@Html.ActionLink("Category", "AccountsPayableList", new { bandId = ViewBag.BandId, filters = ViewBag.Filters, sort = "CATEGORY" })</td>
            <td>@Html.ActionLink("Band Contact", "AccountsPayableList", new { bandId = ViewBag.BandId, filters = ViewBag.Filters, sort = "BAND" })</td>
            <td>@Html.ActionLink("Person Contact", "AccountsPayableList", new { bandId = ViewBag.BandId, filters = ViewBag.Filters, sort = "PERSON" })</td>
            <td>@Html.ActionLink("Venue Contact", "AccountsPayableList", new { bandId = ViewBag.BandId, filters = ViewBag.Filters, sort = "VENUE" })</td>
            <td>@Html.ActionLink("Paid", "AccountsPayableList", new { bandId = ViewBag.BandId, filters = ViewBag.Filters, sort = "PAID" })</td>
        </tr>
    @foreach (test.Models.Budget.AccountPayables accountPayable in Model)
    {
        <tr>
            <td>@Html.DisplayFor(ModelItem => accountPayable.Amount)</td>
            <td>@Html.DisplayFor(ModelItem => accountPayable.Date)</td>
            <td>@Html.DisplayFor(ModelItem => accountPayable.Category)</td>
            <td>@Html.DisplayFor(ModelItem => accountPayable.AssociatedBandContactId)</td>
            <td>@Html.DisplayFor(ModelItem => accountPayable.AssociatedPersonContactId)</td>
            <td>@Html.DisplayFor(ModelItem => accountPayable.AssociatedVenueContactId)</td>
            <td>@Html.DisplayFor(ModelItem => accountPayable.Paid)</td>
        </tr>
    }   
</table>
}