@model test.Models.Budget.Merchandise

@{
    ViewBag.Title = "AddMerch";
}

@using (Html.BeginForm("AddMerch", "Budget", new { bandId = ViewBag.BandId }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <ol>
        <li>
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name)
        </li>
        <li>
            @Html.LabelFor(m => m.Category)
            @Html.TextBoxFor(m => m.Category)
        </li>
        <li>
             @{
                    List<SelectListItem> size = new List<SelectListItem>();
                    size.Add(new SelectListItem { Text = "XSmall", Value = "XSmall", Selected = true});
                    size.Add(new SelectListItem { Text = "Small", Value = "Small" });
                    size.Add(new SelectListItem { Text = "Medium", Value = "Medium" });
                    size.Add(new SelectListItem { Text = "Large", Value = "Large" });
                    size.Add(new SelectListItem { Text = "XLarge", Value = "XLarge" });
                }               
                @Html.DropDownListFor(m => m.MerchSize, size)
        </li>
    </ol>
        <input type="submit" value="Save" />
}
