@model test.Models.Dashboard.PageModel

<h2 class="messageboard-header">Messages</h2>

@if (Model != null && Model.Posts.Any())
{
    <ol class="messages">
        @foreach (var item in Model.Posts)
        {
            <li id="post-container-@item.PostId">
                <div class="post" id="post-@item.PostId">
                    @if (item.PostType == test.Models.Dashboard.PostType.Message)
                    {
                        <div class="post-header">  
                            <img class="post-avatar" alt="" src="@Url.Action("DownloadAvatar", "Account", new { userId = item.PosterId})" height="50" width="50" />
                                   
                            <div class="post-info">  
                                <span class="post-username">@Html.DisplayFor(modelItem => item.PosterName)</span><br />
                                <span class="post-time">@Html.DisplayFor(modelItem => item.PostTime)</span><br />
                            </div>
                        </div>
                        
                        <div class="post-content" id="post-content-@item.PostId">@Html.Raw(item.Content)</div>

                        if (item.PosterId == WebSecurity.CurrentUserId || Roles.IsUserInRole("Administrator"))
                        {
                            <a class="post-link" href="javascript:initiateEdit(@item.PostId);">Edit</a>
                            @Html.ActionLink("Delete", "DeletePost", "Dashboard", new { PostId = item.PostId }, new { @class = "messageBoardLink" })
                        }
                    }
                    else
                    {
                        <div class="post-content" id="post-content-@item.PostId">@Html.Raw(item.Content)</div>
                    }
                </div>
            </li>

        }
    </ol>
    
    if (Model.PageNumber != 0)
    {
        @Html.ActionLink("Previous Page", "Page", new { bandId = ViewBag.BandId, pageNumber = Model.PageNumber - 1 });
    }
    if (Model.PageNumber < Model.TotalPages)
    {
        @Html.ActionLink("Next Page", "Page", new { bandId = ViewBag.BandId, pageNumber = Model.PageNumber + 1 });
    }
}
else
{
    <span>No messages found</span>
}