@model IEnumerable<test.Models.MessageBoardPostModel>

@if (Model != null && Model.Any())
{
    
    <table class="messageBoard" width="600" >
        <tr>
            <th>Messages</th> 
            <th></th>
            <th></th>
            <th></th>
            
        </tr>
          
        @foreach (var item in Model)
        {
            <tr>
                <!--<th>@Html.DisplayFor(modelItem => item.PostId)</th> -->
                <td><p class="messageBoardName">@Html.DisplayFor(modelItem => item.PosterName)</p></td>
                <td><p class="messageBoardMessage">@Html.DisplayFor(modelItem => item.Content)</p></td>
                <td><p class="messageBoardTime">@Html.DisplayFor(modelItem => item.PostTime)</p></td>
               <td>@Html.ActionLink("Delete", "RemovePost", "DashboardController")</td>
            </tr>
        }
    </table>
      
}
else
{
    <span>No messages found</span>
}
