@model IEnumerable<test.Models.MessageBoardPostModel>

@if (Model != null && Model.Any())
{
    <ol class="messages">
        @foreach (var item in Model)
        {
            <li>
                <span class="messageBoardName">@Html.DisplayFor(modelItem => item.PosterName)</span><br />
                <p class="messageBoardMessage">@Html.DisplayFor(modelItem => item.Content)</p>

                <ul>
                    @if (item.PosterId == WebSecurity.CurrentUserId)
                    {
                        <li>
                            @Html.ActionLink("Edit", "EditPost", "Dashboard", new { PostId = item.PostId }, new { @class = "messageBoardLink" })
                        </li>
                        <li>
                            @Html.ActionLink("Delete", "DeletePost", "Dashboard", new { PostId = item.PostId }, new { @class = "messageBoardLink" })
                        </li>
                    }    

                    <li class="right">@Html.DisplayFor(modelItem => item.PostTime)</li>
                </ul>
            </li>
        }
    </ol>
}
else
{
    <span>No messages found</span>
}
