@model IEnumerable<test.Models.Dashboard.MessageBoardPostModel>

<h2>Messages</h2>

@if (Model != null && Model.Any())
{
    <ol class="messages">
        @foreach (var item in Model)
        {
            <li id="post-container-@item.PostId">
                <div class="post" id="post-@item.PostId">
                    @if (item.PostType == test.Models.Dashboard.PostType.Message)
                    {
                        <img class="post-avatar" alt="" src="@Url.Action("DownloadAvatar", "Account", new { userId = item.PosterId})" height="50" width="50" />
                                   
                        <div class="post-header">  
                            <span class="post-username">@Html.DisplayFor(modelItem => item.PosterName)</span><br />
                            <span class="post-time">@Html.DisplayFor(modelItem => item.PostTime)</span><br />
                        </div>  
                        
                        <div class="post-content" id="post-content-@item.PostId">@Html.Raw(item.Content)</div>

                        if (item.PosterId == WebSecurity.CurrentUserId)
                        {
                            <a class="post-link" href="javascript:initiateEdit(@item.PostId);">Edit</a>
                            @Html.ActionLink("Delete", "DeletePost", "Dashboard", new { PostId = item.PostId }, new { @class = "messageBoardLink" })
                        }
                    }
                    else
                    {
                        <div class="post-content" id="post-content-@item.PostId">@Html.Raw(item.Content)</div>
                    }
                </div>
            </li>

        }
    </ol>
}
else
{
    <span>No messages found</span>
}