@model test.Models.Dashboard.DashboardViewModel

@{
    ViewBag.Title = "Dashboard";
}

@section featured 
{
    @Html.Partial("_BandHeaderPartial")
}

<article>
    <hgroup class="title">
        <h1>Message Board.</h1>
        <h2>Share messages with your band.</h2>
    </hgroup>

    <p class="message-success">@ViewBag.SuccessMessage</p>
    <p class="message-error">@ViewBag.ErrorMessage</p>

    @Html.Partial("_PostMessagePartial", new ViewDataDictionary(ViewData) { Model = Model.PostMessageModel } )

    <aside>
    <h1>Members.</h1>

    @{ Html.RenderAction("Members", "Band", new { bandId = ViewBag.BandId }); }
    </aside>

    @Html.Partial("_DisplayMessagesPartial", new ViewDataDictionary(ViewData) { Model = Model.DisplayMessagesModel } )

</article>


@section scripts
{
     <script type="text/javascript" src="@Url.Content("/Scripts/messageboard.js")"></script>
}