@model test.Models.DashboardViewModel

@{
    ViewBag.Title = "Dashboard";
}

@section featured 
{
    @Html.Partial("_BandHeaderPartial")
}

<article>
    <hgroup class="title">
        <h1>Message Board.</h1>
        <h2>Share messages with your band.</h2>
    </hgroup>

    <p class="message-success">@ViewBag.StatusMessage</p>
    @Html.Partial("_PostMessagePartial", new ViewDataDictionary(ViewData) { Model = Model.PostMessageModel } )
    @Html.Partial("_DisplayMessagesPartial", new ViewDataDictionary(ViewData) { Model = Model.DisplayMessagesModel } )

</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>
