@model test.Models.Dashboard.DashboardViewModel

@{
    ViewBag.Title = "Dashboard";
}

@section featured 
{
    @Html.Partial("_BandHeaderPartial")
}

<article>
    <hgroup class="title">
        <h1>Message Board.</h1>
        <h2>Share messages with your band.</h2>
    </hgroup>

    <p class="message-success">@ViewBag.SuccessMessage</p>
    <p class="message-error">@ViewBag.ErrorMessage</p>

    @Html.Partial("_PostMessagePartial", new ViewDataDictionary(ViewData) { Model = Model.PostMessageModel } )
    @Html.Partial("_DisplayMessagesPartial", new ViewDataDictionary(ViewData) { Model = Model.DisplayMessagesModel } )

</article>

<aside>
    <h2>Lorem ipsum</h2>
    <p>
        Sed dui lectus, viverra ut velit eu, ullamcorper varius sem. Nam luctus sodales purus, sit amet congue eros rhoncus nec. Cras feugiat vel dui in tempus. 
    </p>
    <p>
        Curabitur eu orci vitae magna egestas tristique. Donec rutrum fringilla nibh, vel pretium est consectetur eget. In viverra vehicula dolor nec pretium.
    </p>
    <p>
        Etiam vitae faucibus diam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In hac habitasse platea dictumst. Nunc vitae orci velit. Curabitur porttitor dui sit amet dolor semper suscipit. 
    </p>
</aside>

@section scripts
{
     <script type="text/javascript" src="@Url.Content("/Scripts/messageboard.js")"></script>
}