@model IEnumerable<test.Models.BandProfile>

<h2>Bands</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BandName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BandName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BandId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BandId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BandId })
        </td>
    </tr>
}

</table>
