@{
    ViewBag.Title = "Admin Page";
}

@section featured 
{
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Admin Page</h1>
                <h2>You're on it.</h2>
            </hgroup>

            <ul class="horizontal">
                <li>@Html.ActionLink("Dashboard", "Logs")</li>
                <li>@Html.ActionLink("Rolodex", "Index", "Rolodex")</li>
                <li>@Html.ActionLink("Calendar", "Index", "Calendar")</li>
                <li>@Html.ActionLink("FileCabinet", "Index", "FileCabinet")</li>
                <li>@Html.ActionLink("Budget", "Index", "Budget")</li>
                <li>@Html.ActionLink("Online", "Index", "Online")</li>
                <li class="right">@Html.ActionLink("Manage", "Manage", "Band")</li>
            </ul>
        </div>
    </section>
}

<hgroup class="title">
    <h1>Admin Page.</h1>
    <h2>You're an admin. Congratulations.</h2>
</hgroup>

@Html.ActionLink("Logs", "Log")