@{
    ViewBag.Title = "Manage Account";
}

<h1 class="five">Manage Account</h1>

<p class="message-success">@ViewBag.SuccessMessage</p>
<p class="message-error">@ViewBag.ErrorMessage</p>

<img class="avatar" alt="" src="@Url.Action("DownloadAvatar", new { userId = WebSecurity.CurrentUserId })" height="50" width="50" class="photo" />
<p>You're logged in as <strong>@User.Identity.Name</strong>.</p>

<section class="half">
    @Html.Partial("_ChangePasswordPartial")
</section>
<section class="half">
    @Html.Partial("_ChangeDisplayNamePartial")
    @Html.Partial("_ChangeAvatarPartial")
</section>


@section Scripts 
{
    @Scripts.Render("~/bundles/jqueryval")
}
