@model test.Models.UpdateBandModel

<hgroup class="title">
    <h1>Update "@ViewBag.BandName"</h1>
    @Html.ActionLink("Delete", "Delete", new { bandId = ViewBag.BandId })
</hgroup>

@using (Html.BeginForm("Update", "Band", new { bandId = ViewBag.BandId }, FormMethod.Post))
{
    
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Update Band Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.NewBandName)
                @Html.TextBoxFor(m => m.NewBandName)
            </li>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
        </ol>
        <input type ="submit" value="Update" />
    </fieldset>

}