@model test.Models.Band.BandPasswordModel

@{
    ViewBag.Title = "Manage '" + ViewBag.BandName + "'";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p class="message-success">@ViewBag.SuccessMessage</p>
<p class="message-error">@ViewBag.ErrorMessage</p>

<img alt="" src="@Url.Action("DownloadAvatar", new { bandId = ViewBag.BandId })" height="50" width="50" class="photo" />

<section class="half">
    @Html.Partial("_ChangeBandPasswordPartial")
</section>

<section class="half">
    @Html.Partial("_ChangeBandNamePartial")
    <br />
    @Html.Partial("_ChangeAvatarPartial")
    <br />
    @Html.ActionLink("Delete", "Delete", new { bandId = ViewBag.BandId })
</section>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
