@model test.Models.BandPasswordModel

@{
    ViewBag.Title = "Manage '" + ViewBag.BandName + "'";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>You're logged in as <strong>@User.Identity.Name</strong>.</p>

@Html.ActionLink("Delete", "Delete", new { bandId = ViewBag.BandId })

@Html.Partial("_ChangeBandPasswordPartial")
@Html.Partial("_ChangeBandNamePartial")

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
