@{
    ViewBag.Title = "Online";
}

@section featured 
{
    @Html.Partial("_BandHeaderPartial")
}

<p class="message-success">@ViewBag.SuccessMessage</p>
<p class="message-error">@ViewBag.ErrorMessage</p>

@Html.Partial("_UploadTrackPartial")

<h2>yo tracks</h2>

<div ng-app="sortable" ng-controller="SortableController" ng-init="init('/Online/GetTracks/@ViewBag.BandId')">
    <table ng-cloak class="pretty" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <th ng-click="sort('TrackId')">Track ID</th>
            <th ng-click="sort('TrackName')">Name</th>
            <th>Delete</th>
            <th>Image</th>
            <th>Play</th>
        </tr>

        <tr ng-repeat="track in data | orderBy : column : descending">
                <td>{{ track.TrackId }}</td>
                <td>{{ track.TrackName }}</td>
                <td><a ng-href="/Online/DeleteTrack/{{ track.TrackId }}">Delete</a></td>
                <td><img class="post-avatar" alt="" ng-src="{{ track.ImageUrl }}" /></td>
                <td>
                    <audio controls>
                        <source ng-src="{{ track.TrackUrl }}" type="audio/mp3" />
                        <p>Your browser does not support HTML 5 audio element</p>
                    </audio>
                </td>
        </tr>
    </table>
</div>

@section Scripts
{
    <script type="text/javascript" src="@Url.Content("/Scripts/angular.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/sortable.js")"></script>
}


