@model test.Models.Calendar.CalendarEventModel

@{
    ViewBag.Title = "Calendar";
}

@using (Html.BeginForm("AddEvent", "Calendar", new { bandId = ViewBag.BandId }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Add Event Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.EventTitle)
                @Html.TextBoxFor(m => m.EventTitle)
            </li>
            <li>
                @Html.EditorFor(model => model.EventDescription)
            </li>
            <li>
                @Html.LabelFor(m => m.EventMonth)
                @Html.TextBoxFor(m => m.EventMonth)
            </li>
            
            <li>
                @Html.LabelFor(m => m.EventDay)
                @Html.TextBoxFor(m => m.EventDay)
            </li>
            
            <li>
                @Html.LabelFor(m => m.EventYear)
                @Html.TextBoxFor(m => m.EventYear)
            </li>
            <li>
                @{
        
                List<SelectListItem> items = new List<SelectListItem>();
                items.Add(new SelectListItem { Text = "1", Value = "1", Selected = true});
                items.Add(new SelectListItem { Text = "2", Value = "2"});
                items.Add(new SelectListItem { Text = "3", Value = "3" });
                items.Add(new SelectListItem { Text = "4", Value = "4" });
                items.Add(new SelectListItem { Text = "5", Value = "5" });
                items.Add(new SelectListItem { Text = "6", Value = "6" });
                items.Add(new SelectListItem { Text = "7", Value = "7" });
                items.Add(new SelectListItem { Text = "8", Value = "8" });
                items.Add(new SelectListItem { Text = "9", Value = "9" });
                items.Add(new SelectListItem { Text = "10", Value = "10" });
                items.Add(new SelectListItem { Text = "11", Value = "11" });
                items.Add(new SelectListItem { Text = "12", Value = "12" });
                }
                
               
                @Html.DropDownListFor(m => m.EventHour, items)
            </li>
            <li>
                @Html.LabelFor(m => m.EventMinute)
                @Html.TextBoxFor(m => m.EventMinute)
            </li>
            <li>
                @Html.LabelFor(m => m.EventPeriod)
                @Html.TextBoxFor(m => m.EventPeriod)
            </li>

        </ol>

        <input type="submit" value="Add Event" />
    </fieldset>
}