@model test.Models.Calendar.DayModel

@{
    ViewBag.Title = "Calendar";
}

@section featured 
{
    @Html.Partial("_BandHeaderPartial")
}

<p class="message-success">@ViewBag.SuccessMessage</p>
<p class="message-error">@ViewBag.ErrorMessage</p>



<h2>@Model.Date.ToString("D")</h2>

@Html.ActionLink("Add event", "AddEvent", "Calendar", new { bandId = ViewBag.BandId, day = ViewBag.Day, month = ViewBag.Month, year = ViewBag.Year }, null)
@Html.ActionLink("Back to Monthly View", "Month", new { bandId = ViewBag.BandId, month = Model.Date.Month, year = Model.Date.Year })

<br />

@if (!Model.Events.Any())
{
    <h2>No events</h2>
}
else
{       
    foreach (var item in Model.Events)
    {
        string eventTime = item.EventTime.ToString("t");
        
        <table class="event">
            <tr>                
                <th style="width:10%; text-align:left;">@eventTime</th>

                <th />

            </tr>
            <tr>
                <td style="width:100%; text-align:center; font-weight:bold;">@item.EventTitle </td>
            </tr>

            <tr />
            <tr />

            <tr>
                <td style="width:100%">
                    @item.EventDescription
                </td>

                <td />

            </tr>
            <tr>
                <td  style="width:100%">
                    @Html.ActionLink("Edit", "EditEvent", new { bandId = ViewBag.BandId, eventId = item.EventId }) / @Html.ActionLink("Delete", "DeleteEvent", new { eventId = item.EventId })
                </td>

                <td />

            </tr>
        </table>
    }
}

<br />