@model IEnumerable<test.Models.Calendar.CalendarEvent>

@{
    ViewBag.Title = "Day";
}

<p class="message-success">@ViewBag.SuccessMessage</p>
<p class="message-error">@ViewBag.ErrorMessage</p>

<table class="pretty" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Time</th>
        <th>Description</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.EventId)</td>
            <td>@Html.DisplayFor(modelItem => item.EventTitle)</td>
            <td>@Html.DisplayFor(modelItem => item.EventTime)</td>
            <td>@Html.DisplayFor(modelItem => item.EventDescription)</td>
            <td>@Html.ActionLink("Edit", "EditEvent", new { bandId = ViewBag.BandId, eventId = item.EventId })</td>
            <td>@Html.ActionLink("Delete", "DeleteEvent", new { eventId = item.EventId })</td>
        </tr>
    }
</table>



<br />                   

@Html.ActionLink("Add event", "AddEvent", "Calendar", new { bandId = ViewBag.BandId, day = ViewBag.Day, month = ViewBag.Month, year = ViewBag.Year }, null)