@model test.Models.Calendar.DayModel

@{
    ViewBag.Title = "Calendar";
}

@section featured 
{
    @Html.Partial("_BandHeaderPartial")
}

<p class="message-success">@ViewBag.SuccessMessage</p>
<p class="message-error">@ViewBag.ErrorMessage</p>



<h2>@Model.Date.ToString("D")</h2>

@Html.ActionLink("Add event", "AddEvent", "Calendar", new { bandId = ViewBag.BandId, day = ViewBag.Day, month = ViewBag.Month, year = ViewBag.Year }, null)
@Html.ActionLink("Back to Monthly View", "Month", new { bandId = ViewBag.BandId, month = Model.Date.Month, year = Model.Date.Year })

<br />

@if (!Model.Events.Any())
{
    <h2>No events</h2>
}
else
{       
    @foreach (var item in Model.Events)
    {
        string eventTime = item.EventTime.ToString("H:mm");
        
        <table class="event">
            <tr>                
                <th>@eventTime</th>
                <th>@item.EventTitle </th>
            </tr>
        </table>
    }
    
    <table class="pretty" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Time</th>
            <th>Description</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>

        @foreach (var item in Model.Events)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.EventId)</td>
                <td>@Html.DisplayFor(modelItem => item.EventTitle)</td>
                <td>@Html.DisplayFor(modelItem => item.EventTime)</td>
                <td>@Html.DisplayFor(modelItem => item.EventDescription)</td>
                <td>@Html.ActionLink("Edit", "EditEvent", new { bandId = ViewBag.BandId, eventId = item.EventId })</td>
                <td>@Html.ActionLink("Delete", "DeleteEvent", new { eventId = item.EventId })</td>
            </tr>
        }
    </table>
}

<br />