@model IEnumerable<test.Models.CalendarEvent>

@{
    ViewBag.Title = "Calendar";
}

<table class="pretty" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <th>@Html.DisplayNameFor(model => model.EventId)</th>
        <th>@Html.DisplayNameFor(model => model.EventTitle)</th>
        <th>@Html.DisplayNameFor(model => model.EventTime)</th>
        <th>@Html.DisplayNameFor(model => model.EventDescription)</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.EventId)</td>
            <td>@Html.DisplayFor(modelItem => item.EventTitle)</td>
            <td>@Html.DisplayFor(modelItem => item.EventTime)</td>
            <td>@Html.DisplayFor(modelItem => item.EventDescription)</td>
        </tr>
    }
</table>