@model test.Models.Calendar.MonthModel


@{
    ViewBag.Title = "Calendar";
}


@section featured 
{
    @Html.Partial("_BandHeaderPartial")
}

<p class="message-success">@ViewBag.SuccessMessage</p>
<p class="message-error">@ViewBag.ErrorMessage</p>

<style type="text/css">
    #calendar-table 
    {
        width: 716px;
        background: #ffffff;
        border: 1px solid #b1b1b1;
    }
    #calendar-table th
    {
        vertical-align: top;
        text-align: center;
        width: 100px;
        height: 20px;
        padding: 4px;
        background: #acacac;
        border: 1px solid #b1b1b1;
    }
    #calendar-table td
    {
        vertical-align: top;
        width: 100px;
        height: 100px;
        padding: 4px;
        background: #ffffff;
        border: 1px solid #b1b1b1;
    }
    #calendar-table td:hover
    {
        background: #CCFFFF !important;
    }
    #calendar-table td:active
    {
        background: #6699FF !important;
    }
    #calendar-table td p
    {
        text-align: center;
    }
    td.event
    {
        background-color: #9EB2CB !important;
    }
    td.noday
    {
        background-color: #f8f8f8 !important;
    }
</style>



<table id="calendar-table" cellpadding="0" cellspacing="0">
    <thead>
        <tr>
            <th colspan="716" style="background-color:lightgray;">@Model.MonthName @Model.CurrentMonthYear</th> 
        </tr>
        <tr>
            <th>Sunday</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
        </tr>
    </thead> 

    <tbody>
        <tr>
            @for (int i = 0; i < Model.FirstDayOfWeek; i++ )
            {
                <td class="noday"></td>   
            }

            @{
                int currentDayOfWeek = Model.FirstDayOfWeek;
                int currentDay = 1;

                var monthEvents = Model.Events;
           
                bool hasEvent;
            
                while(currentDay <= Model.DaysInMonth)
                {
                    hasEvent = false;
                    if(currentDayOfWeek == 7)
                    {
                        currentDayOfWeek = 0;
                        @:</tr><tr>
                    }
                
                    if(monthEvents != null)
                    {
                        //checking to see if a given day has an event(s) for indicating if it has events
                        foreach ( test.Models.Calendar.CalendarEvent ev in monthEvents)
                        {
                            if (ev.EventTime.Day == currentDay)
                            {
                                hasEvent = true;
                            }
                        }
                    }
                
                    if(hasEvent)
                    {
                        <td class="event">
                            @Html.ActionLink(@currentDay.ToString(), "Day", new { bandId = ViewBag.bandId, day = currentDay, month = Model.CurrentMonth, year = Model.CurrentMonthYear })
                       
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.ActionLink(@currentDay.ToString(), "Day", new { bandId = ViewBag.bandId, day = currentDay, month = Model.CurrentMonth, year = Model.CurrentMonthYear })
                        </td>
                    }              
        
                    currentDayOfWeek++;
                    currentDay++;   
                }
            
                for (; currentDayOfWeek < 7; currentDayOfWeek++)
                {
                    <td class="noday"></td>   
                }
            }
        </tr>
    </tbody>
</table>

@Html.ActionLink("Previous Month", "Month", "Calendar", 
                        new { bandId = ViewBag.BandId, month = Model.PreviousMonth, year = Model.PreviousMonthYear }, null)

@Html.ActionLink("Next Month", "Month", "Calendar",
                        new { bandId = ViewBag.BandId, month = Model.NextMonth, year = Model.NextMonthYear }, null)
@{
    List<SelectListItem> yearList = new List<SelectListItem>();
    yearList.Add(new SelectListItem { Text = (Model.CurrentMonthYear - 1).ToString(), Value = (Model.CurrentMonthYear - 1).ToString() });
    yearList.Add(new SelectListItem { Text = Model.CurrentMonthYear.ToString(), Value = Model.CurrentMonthYear.ToString(), Selected = true });
    yearList.Add(new SelectListItem { Text = (Model.CurrentMonthYear + 1).ToString(), Value = (Model.CurrentMonthYear + 1).ToString() });
}

@Html.DropDownList("yearSelect",yearList)

@{
    List<SelectListItem> monthList = new List<SelectListItem>();
    monthList.Add(new SelectListItem { Text = "January", Value = "1", Selected = true });
    monthList.Add(new SelectListItem { Text = "February", Value = "2"});
    monthList.Add(new SelectListItem { Text = "March", Value = "3" });
    monthList.Add(new SelectListItem { Text = "April", Value = "4" });
    monthList.Add(new SelectListItem { Text = "May", Value = "5" });
    monthList.Add(new SelectListItem { Text = "June", Value = "6" });
    monthList.Add(new SelectListItem { Text = "July", Value = "7" });
    monthList.Add(new SelectListItem { Text = "August", Value = "8" });
    monthList.Add(new SelectListItem { Text = "September", Value = "9" });
    monthList.Add(new SelectListItem { Text = "October", Value = "10" });
    monthList.Add(new SelectListItem { Text = "November", Value = "11" });
    monthList.Add(new SelectListItem { Text = "December", Value = "12" });

@Html.DropDownList("monthSelect",monthList)

<a id="goTo" href="URL"> Go to month </a>
