@{
    ViewBag.Title = "Online";
}

@section featured 
{
    @Html.Partial("_BandHeaderPartial")
}

<h2>Upload a Track</h2>

<p class="message-success">@ViewBag.SuccessMessage</p>
<p class="message-error">@ViewBag.ErrorMessage</p>

@Html.Partial("_UploadTrackPartial")

@section Scripts
{
    <script type="text/javascript" src="@Url.Content("/Scripts/angular.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/sortable.js")"></script>
}


