@{
    ViewBag.Title = "CreateContact";
}

<script type="text/javascript">

</script>

@section featured 
{
    @Html.Partial("_BandHeaderPartial")
}

<h2>CreateContact</h2>

@Ajax.ActionLink(
    "Create a Band Contact",
    "CreateBandContact",
    new { BandId = @ViewBag.BandId },
    new AjaxOptions { UpdateTargetId = "dvForm" }
    )

 | 

@Ajax.ActionLink(
    "Create a Person Contact",
    "CreatePersonContact",
    new { BandId = @ViewBag.BandId },
    new AjaxOptions { UpdateTargetId = "dvForm" }
    )

 | 

@Ajax.ActionLink(
    "Create a Venue Contact",
    "CreateVenueContact",
    new { BandId = @ViewBag.BandId },
    new AjaxOptions { UpdateTargetId = "dvForm" }
    )




<div id="dvForm"></div> 