@model test.Models.Rolodex.PeopleContact

@{
    ViewBag.Title = "Edit People";
}


@section featured 
{
    @Html.Partial("_BandHeaderPartial")
}

<h2>Edit People</h2>
<img alt="" src="@Url.Action("DownloadPeopleAvatar", new { bandId = ViewBag.BandId})" height="100" width="100" class="photo" />
@using (Html.BeginForm("EditPeople", "Rolodex", new { bandId = ViewBag.BandId }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li style="visibility:hidden;">
                @Html.TextBoxFor(m => m.ContactId)
                @Html.TextBoxFor(m => m.BandId)
            </li>
            <li>
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name)
            </li>
            <li>
                @Html.LabelFor(m => m.PhoneNumber)
                @Html.TextBoxFor(m => m.PhoneNumber)
            </li>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
            </li>
            <li>
                @Html.LabelFor(m => m.Skill)
                @Html.TextBoxFor(m => m.Skill)
            </li>
            <li>
                @Html.LabelFor(m => m.Notes)
                @Html.TextBoxFor(m => m.Notes)
            </li>
            <li>
                @Html.LabelFor(m => m.BandContactId)
                @Html.DropDownListFor(m => m.BandContactId, (List<SelectListItem>) band.Controllers.RolodexController.GetSelectList(ViewBag.BandId, "Person-band"), "N/A")
            </li>
            <li>
                @Html.LabelFor(m => m.VenueContactId)
                @Html.DropDownListFor(m => m.VenueContactId, (List<SelectListItem>) band.Controllers.RolodexController.GetSelectList(ViewBag.BandId, "Person-venue"), "N/A")
            </li>
        </ol>
        <input type="submit" value="Save" />
    </fieldset>
}
<h3>Change avatar</h3>

<form action="/Rolodex/UploadAvatar/@Model.ContactId/@test.Models.Rolodex.ContactType.People" method="post" enctype="multipart/form-data">
    <label for="file">Filename:</label>
    <input type="file" name="file" id="file" />
    <br />
    <input type="submit" value="Change Avatar" />
</form>