@model test.Models.Rolodex.PeopleContact

@{
    ViewBag.Title = "Edit People";
}


@section featured 
{
    @Html.Partial("_BandHeaderPartial")
}

<h2>Edit People</h2>

@using (Html.BeginForm("EditPeople", "Rolodex", new { bandId = ViewBag.BandId, contactId = Model.ContactId }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name)
            </li>
            <li>
                @Html.LabelFor(m => m.PhoneNumber)
                @Html.TextBoxFor(m => m.PhoneNumber)
            </li>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
            </li>
            <li>
                @Html.LabelFor(m => m.Skill)
                @Html.TextBoxFor(m => m.Skill)
            </li>
            <li>
                @Html.LabelFor(m => m.Notes)
                @Html.TextBoxFor(m => m.Notes)
            </li>
        </ol>
        <input type="submit" value="Save" />
    </fieldset>
}
