
@model test.Models.Rolodex.VenueContact

@{
    ViewBag.Title = "Edit Venue";
}



@section featured 
{
    @Html.Partial("_BandHeaderPartial")
}

<h2>Edit Venue</h2>

<img alt="" src="@Url.Action("DownloadVenueAvatar", new { contactId = ViewBag.ContactId } )" height="100" width="100" class="photo" />

@using (Html.BeginForm("EditVenue", "Rolodex", new { bandId = ViewBag.BandId }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li style="display: none;">
                @Html.TextBoxFor(m => m.ContactId)
                @Html.TextBoxFor(m => m.BandId)
            </li>
            <li>
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name)
            </li>
            <li>
                @Html.LabelFor(m => m.PhoneNumber)
                @Html.TextBoxFor(m => m.PhoneNumber)
            </li>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
            </li>
            <li>
                @Html.LabelFor(m => m.FreeBeer)
                @Html.CheckBoxFor(m => m.FreeBeer)
            </li>
            <li>
                @Html.LabelFor(m => m.CoverCharge)
                @Html.CheckBoxFor(m => m.CoverCharge)
            <li>
                @Html.LabelFor(m => m.MerchSpace)
                @Html.CheckBoxFor(m => m.MerchSpace)
            </li>
            <li>
                @Html.LabelFor(m => m.Notes)
                @Html.TextBoxFor(m => m.Notes)
            </li>
            <li>
                @Html.LabelFor(m => m.StageSizeValue)
                @Html.DropDownListFor(m => m.StageSizeValue, band.Controllers.RolodexController.GetStageSizeList(), "N/A")
            </li>
            <li>
                <label for="PrimaryContactId">Primary Contact:</label>
                @Html.DropDownListFor(m => m.PrimaryPeopleContactId, (List<SelectListItem>) band.Controllers.RolodexController.GetSelectList(ViewBag.BandId, "Venue"), "N/A")
            </li>
            @if (Model.PrimaryPeopleContactId > 0)
            {
            <li>
                @Html.ActionLink("View Current Primary Contact", "EditPeople", new { bandId = ViewBag.BandId, contactId = Model.PrimaryPeopleContactId})
            </li>
            }
        </ol>
        <input type="submit" value="Save" />
    </fieldset>
}
<h3>Change avatar</h3>

<form action="/Rolodex/UploadAvatar/@Model.ContactId/@test.Models.Rolodex.ContactType.Venue" method="post" enctype="multipart/form-data">
    <label for="file">Filename:</label>
    <input type="file" name="file" id="file" />
    <br />
    <input type="submit" value="Change Avatar" />
</form>